<template>
    <div class="container">
        <h2>Today's weather</h2>
        <hr>
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <label for="cityName">Enter city : </label>
                    <div class="input-group-append" :class="(nameValidatorError) ? 'has-error' : ''">
                        <input type="text" name="cityName" class="form-control" placeholder="City" v-model="cityName">
                    </div>
                    <span v-if="nameValidatorError" class="error text-danger">
                        Invalid name
                    </span>
                </div>
            </div>
            <div class="col">
               <button type="button" class="btn btn-primary" @click="getWeather()">Submit</button> 
            </div>
        </div>
        <br>
        <div v-if="cityWeather" class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{cityWeather.city}} ({{cityWeather.country}})</h3>
                        <span>{{cityWeather.condition}}</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <label>Temperatue : {{cityWeather.temperature}}°C</label>
                            </div>
                            <div class="col">
                                <label>Wind : {{cityWeather.wind}}km/h</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
       
</template>

<script>
    import axios from 'axios';
    var { graphql, buildSchema } = require('graphql');
    export default {
        name: "weather",
        data() {
            return {
                cityName:"",
                cityWeather:null,
                nameValidatorError: false
            }
        },
        created() {
        },
        methods: {
            getWeather: function(){
                var self = this;
                if(this.cityName){
                    let data = {query: `
                            query{Weather(city:"`+this.cityName+`") {
                            city
                            country
                            temperature
                            wind
                            condition
                            }}
                            `};
                    axios.post('/',data)
                        .then(response => {
                            self.cityWeather = response.data.data.Weather;
                            if(!self.cityWeather){
                                self.nameValidatorError = true;
                            }
                        })
                        .catch(e => {
                            self.nameValidatorError = true;
                        });
                }else{
                    this.nameValidatorError = true;
                }
            }
        }
    }
</script>

<style scoped>

</style>